<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="module" src="../Index.js"></script>
    <title>Home</title>
</head>
<body>
    <nav>
        <a href="./restaurants.html">Places</a>
    </nav>

    <main>
        <h1>HOME</h1>
        <hr>
        <article>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit expedita quis vel aperiam voluptatibus voluptate, ad ipsa enim voluptates tempora unde saepe, magni itaque, sit praesentium ullam nemo excepturi aliquid.
        </article>
    </main>
</body>
</html>