<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant App</title>
    <link rel = "shortcut icon" href="./images/favicon.ico" type="image/x-icon">
    <link rel = "stylesheet" href="../css/normalize.css">
    <link rel = "stylesheet" href="../css/styles.css">
    <link rel = "stylesheet" href="../css/home.css">
</head>

<body>
    <header class = "hero">  <!--************************************************* This is the header of the page -->

        <nav class = nav container>
            <div class ="nav__logo">              
                <h2 class = "nav tittle">Restaurant App</h2> 
            </div>

            <ul class = "nav__link nav__link --menu">  <!-- ******************************This is the main menu of the page-->

                <li class = "nav__items">
                    <a href= "./register.html">Register</a>
                </li>

                <li class = "nav__items">
                    
                    <a href="./login.html">Log In</a>
                </li>

            </ul>
            
        </nav>

    </header>
        
    <main>
        <section class = "knowledge"> <!-services information for the website ->
             <div class ="knowledge__container container ">
                <div class = "knowledge__texts">
                    <h2 class = "subtitle">Welcome!</h2>
                    <p class = "knowledge__paragraph">Browse with us and find the best restaurants near you, check out all their services and some opinions from users who have already had the opportunity to experience our services. Get started now!</p>
                    
                </div>
             </div>
         </section>

            <div class = "about__main"> 
                <article class = "about__icons">
                    <img src = "../images/comment.svg" class = "about__icon">
                    <h3 class = "about__title">Services</h3> 
                    <p class = "about__paragraph">Browse through the app and find the best restaurant options for you and your family</p>
                </article>

                <article class = "about__icons">
                    <img src = "../images/review.svg" class = "about__icon">
                    <h3 class = "about__title">Reviews</h3>
                    <p class = "about__paragraph">Check user reviews of restaurants and verify that they meet your expectations</p>

                </article><article class = "about__icons">
                    <img src = "../images/reservation.svg" class = "about__icon">
                    <h3 class = "about__title">Reservations</h3>
                    <p class = "about__paragraph">Get in touch with the restaurant and complete reservations at your favorite restaurants!</p>
                </article>

            </div>

        </section>
    </main>
</body>
</html>