<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="module" src="../Restaurant.js"></script>
    <link rel = "stylesheet" href="../css/normalize.css">
    <link rel = "stylesheet" href="../css/restaurants.css">

    <title>Restaurants</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <nav>
        <a href="./index.html">Home</a>
    </nav>
    
    <main>
        <div id="list-restaurants"></div>
    </main>

    <div class="restaurant-container">
        <div class="restaurant-info">
            <h2>Restaurant´s name</h2>
            <p>Restaurant description.</p>
        </div>

        <div class="addresses-section">
            <h3>Address</h3>
            <ul>
                <li>Str 123, City, Country</li>
                <li>Avenue 456, Ciudad, País</li>
            </ul>
        </div>

        <div class="bookings-section">
            <h3>Reservation</h3>
            <form id="booking-form">
                <div class="form-group">
                    <label for="date-time">Datetime</label>
                    <input type="datetime-local" id="date-time" name="date-time" required>
                </div>
                <div class="form-group">
                    <label for="guests">Número de personas</label>
                    <input type="number" id="guests" name="guests" min="1" required>
                </div>
                <button type="submit" class="submit-btn">Reservar</button>
            </form>
        </div>
    </div>

</body>
</html>

