<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="module" src="../JS/userPage.js"></script>
    <link rel = "stylesheet" href="../css/normalize.css">
    <link rel = "stylesheet" href="../css/userPage.css">
    <link rel = "stylesheet" href="../css/styles.css">
    <title>User Settings</title>

</head>
<body>
    <nav>
        <a href="./home.html">Home</a>
        <a href="./search.html">Find Restaurants</a>
        <a href="./home.html">Log Out</a>
    </nav>

    <div class = "container">
        
    <main>
        <section id="user-presentation"> </section>
        <h4>User Information</h4>
        <hr>   
        <section id="user-primary-info">

            <label for="name">Name: </label>
            <input type="text" id="name" name="name" readonly><br>

            <label for="surname">Surname: </label>
            <input type="text" name="surname" id="surname" readonly><br>

            <label for="email">Email: </label>
            <input type="email" id="email" name="email" readonly><br>
        </section>

        <hr>
        <section id="user-change-password">
            <form id="user-password-form" method="post">

                <label for="user-change-password">Change password</label><br>
                <label for="password1">Password: </label>
                <input type="password" name="password1" id="password1" autocomplete="off" minlength="9" maxlength="80" required><br>

                <label for="password2">Confirm Password: </label>
                <input type="password" name="password2" id="password2" autocomplete="off" minlength="9" maxlength="80" required><br>
                <button type="submit">Send</button>
            </form>
        </section>
    </main>

           
        <section id="user-bookings">
            <h4>User Bookings</h4>
            <hr>
            <article id="u-restaurant-info"></article>
            <form id="restaurant-form" method="post">
                <label for="u-restaurant-name">Restaurant Name</label>
                <input type="text" name="u-restaurant-name" id="u-restaurant-name">
                
                
            </form>
        </section>

    </div>
</body>
</html>


