<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant App</title>
    <link rel = "shortcut icon" href="./images/favicon.ico" type="image/x-icon">
    <link rel = "stylesheet" href="normalize.css">
    <link rel = "stylesheet" href="styles.css">
</head>
<body>

    <header class = "hero">
        <nav class = nav container>
            <div class ="nav__logo">
                <h2 class = "nav tittle">Restaurant App</h2>

            </div>

            <ul class = "nav__link nav__link --menu">
                <li class = "nav__items">
                    <a href = "#" class ="nav__links">Home</a>
                </li>

                <li class = "nav__items">
                    <a href = "#" class ="nav__links">Sign Up</a>
                </li>

                <li class = "nav__items">
                    <a href = "#" class ="nav__links">Sign In</a>
                </li>

                <li class = "nav__items">
                    <a href = "#" class ="nav__links">Blog</a>
                </li>

                <img src =" ./images/close.svg" alt="" class = "nav__close">

            </ul>

            <div class="nav__menu">
                <img src ="./images/menu.svg" alt="" class ="nav__img">
            </div>
            
        </nav>

        <section class = "hero__container container">
            <h1 class ="hero__tittle">Meet new restaurants with us</h1>
            <p class = "hero__paragraph">Welcome to the restaurant app</p>
            <a href="#" class ="cta">Start now</a>
        </section>
    </header>
        
</body>
</html>