
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@300;400;600;700&display=swap');

:root{
    --padding-container: 100px 0;
    --color-title: #001a49;

}

body{
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container)
}

.hero{
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height:800px ;
    position : relative;
    display:grid;
    grid-template-rows: 100px 1fr;
    color: #fff;

}

.hero::before{
    content: "";
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: #001a49;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0%, 100% 46%, 0 46%);
    z-index: -1;
}

.nav{
    --padding-container:0;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav__title{
    font-weight: 300;
}

.nav__link{
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap:2em
}

.nav__items{
    list-style: none;
}

.nav__links{
    color: #fff;
    text-decoration: none;
}

.nav__menu {
    margin-left: auto;
    cursor: pointer;
    display:none;
}

.nav__img {
    display: block;
    width:30px;
}

.nav__close{
    display: var(--show, none);
}

/* Hero container */

.hero__container{
    max-width: 800px;
    display: grid;
    --padding-container:0;
    grid-auto-rows: center;
    gap: 1em;
    padding-bottom: 100px;
    text-align: center;

}

.hero__tittle{
    font-size:3rem;
}

.hero__paragraph{
    margin-bottom: 20px;
}

.cta{
    display: inline-block;
    background-color:#2091f9 ;
    justify-self: center;
    color: #fff;
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 12px;
    font-size: 18px;
    font-weight: bold; /* Texto más legible */
    text-align: center; /* Alineación del texto */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Sombra para destacar */
    transition: all 0.3s ease; /* Transición para interacciones */
    cursor: pointer; /* Cambiar el cursor al pasar el ratón */

}