@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

.container {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    padding-top: 80px;
    display: grid;
    width: 90%;
    margin: 0 auto;
    gap: 1em;
    overflow: hidden;
    
}

main {
    background: #fff;
    padding: 30px;
    border-radius: 15px;
    width: 600px;
    margin: 30px 30px 30px 0;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
}

/*input bottons***/

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: 0.3s;
}

input:focus {
    border-color: #db4242;
    outline: none;
}

/* -----Options shown when hovering the search button ----- */

.about__main{
    padding-top: 80px;
    display: grid;
    width: 90%;
    margin: 0 auto;
    gap: 1em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
}

.about__icons {
    display: grid;
    gap: 1em;
    justify-items: center;
    width: 260px;
    overflow: hidden;
    margin: auto;
}

.about__icon{
    width: 40px;
}

.about__icons {
    display: grid;
    gap: 1em;
    justify-items: center;
    width: 260px;
    overflow: hidden;
    margin: auto;
    cursor: pointer;
}

.about__icon{
    width: 40px;
}

/* ----- Botones ----- */

#search-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* ----- Responsividad ----- */
@media (max-width: 768px) {
    main {
        width: 90%;
        padding: 15px;
    }

    nav {
        flex-direction: column;
    }

    nav a {
        margin: 5px 0;
    }
}